* {
  box-sizing: border-box;

}


body {
  font-family: 'Roboto', sans-serif;
}


header li a {
  color: #031c4e;
  font-weight: 600;
}


/*UTILITIES */

.color-ul-grey {
  color: #7d879f;
}
.padding-top {
  padding-top: 30px;
}


.font-color-grey {
  color:#8b95ab;
}


.contieni-img {
  max-width: 160px;
}


.font-color-white {
  color:white;
}


.font-color-blue {
  color: #031c4e;
}


.font-color-celeste {
  color: #006aff;
}

.font-color-dark-blue {
  color: #031c4e;
}
.font-color-light-grey {
  color: ##5c6a88;
}


.form {
  background: white;
	padding: 49px 0 27px 0;
	border-radius: 5px;
}


.background-celeste {
  background-color: #579aff;
}


.white-transparent {
  color: #bbcdff;
}


.padding-box {
  padding: 49px 0 36px 0;
}



.background-section {
  background: #b3def1;
}

.contieni-img-google  {
  max-width: 20px;
}

.cerchio {
	width:10px;
	height:10px;
	border-radius:50px;
	background:#006aff;
  border: 1px solid #52a8f3;
}
.cerchio-vuoto {
	width:10px;
	height:10px;
	border-radius:50px;
	background:transparent;
  border: 1px solid #52a8f3;
}

.display-inline-block {
  display: inline-block;
}
/*FINE UTILITIES */


/* DEBUG:  */
.box1 {
  background-color: red;
  height: 64px;
}
.box2 {
  background-color: blue;
  height: 64px;
}
.box3 {
  background-color: green;
  height: 64px;
}
.box4 {
  background-color: pink;
}

/*FINE DEBUG */






/*HEADER */
.width {
  width: 100%;
}
.contenitore-img {
  max-width: 200px;
  padding-top: 18px;
}


.-button-sign-up-header {
  background: white;
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 3px;
}

header {
  height: 65px;
}




/*JUMBOTRON */

.jumbotron {
  background-image: url(../assets/bg-banner-home.jpg);
  background-size: cover;
}
.jumbotron h1 {
  font-size: 62px;
}
.jumbotron p {
  font-size: 20px;
}


/*SECTION DEPLOY AND SCALE */
#Deploy-and-scale ul li {
  padding: 5px 0 5px 5px;
}

#Deploy-and-scale ul {
  border-left: 1px solid #ccc;
}


/*SECTION DESIGNED FOR DEVS*/
#Designed4devs {
  background-color: #f3f5f9;
}
