* {
  box-sizing: border-box;

}
body {
  font-family: 'Roboto', sans-serif;
}

header li a {
  color: #031c4e;
  font-weight: 600;
}

/*UTILITIES */
.font-color-white {
  color:white;
}
.font-color-blue {
  color: #031c4e;
}
.font-color-celeste {
  color: #006aff;
}

.form {
  background: white;
}

.background-celeste {
  background: #579aff;
}

.white-transparent {
  color: #bbcdff;
}

/* DEBUG:  */
.box1 {
  background-color: red;
  height: 64px;
}
.box2 {
  background-color: blue;
  height: 64px;
}
.box3 {
  background-color: green;
  height: 64px;
}
.box4 {
  background-color: pink;
}

/*FINE DEBUG */

/*HEADER */

.contenitore-img {
  max-width: 200px;
}

.nav-bar-box {
  padding: 20px 0;
}

.position-ul-nav-bar {
  padding-top:8px;
}

.color-button {
  background: white;
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 3px;
}

/*JUMBOTRON */

.jumbotron {
  background-image: url(../assets/bg-banner-home.jpg);
  background-size: cover;
}
.jumbotron h1 {
  font-size: 62px;
}
.jumbotron p {
  font-size: 20px;
}
