* {
  box-sizing: border-box;

}


body {
  font-family: 'Roboto', sans-serif;
}


header li a {
  color: #031c4e;
  font-weight: 600;
}


/*UTILITIES */

.dimensioni-img-DigitalOcean {
  width: 200px;
}
.color-ul-grey {
  color: #7d879f;
}
.margin-top {
  margin-top: 11px;
}


.font-color-grey {
  color:#8b95ab;
}


.contieni-img {
  max-width: 160px;
}


.font-color-white {
  color:white;
}


.font-color-blue {
  color: #031c4e;
}


.font-color-celeste {
  color: #006aff;
}

.font-color-dark-blue {
  color: #031c4e;
}
.font-color-light-grey {
  color: ##5c6a88;
}


.form {
  background: white;
	padding: 49px 0 27px 0;
	border-radius: 5px;
}


.background-celeste {
  background-color: #579aff;
}


.white-transparent {
  color: #bbcdff;
}


.padding-box {
  padding: 49px 0 36px 0;
}



.background-section {
  background: #b3def1;
}

.contieni-img-google  {
  max-width: 20px;
}

.cerchio {
	width:10px;
	height:10px;
	border-radius:50px;
	background:#006aff;
  border: 1px solid #52a8f3;
}

.cerchio-vuoto {
	width:10px;
	height:10px;
	border-radius:50px;
	background:transparent;
  border: 1px solid #52a8f3;
}

.display-inline-block {
  display: inline-block;
}

.background-white {
  background-color: white;
}

.center-paragraph {
  max-width: 660px;
  margin: 0 auto;
}

.box-with-gradient {
  background:linear-gradient(120deg, #0048c5,#00239e );
}

.font-size-li-section-footer {
  font-size: 18px;
}

.font-color-00d5d1 {
  color: #00d5d1;
}

.color-footer {
  color: #a6adbd;
}
/*FINE UTILITIES */



/*HEADER */

.width {
  width: 100%;
}
.contenitore-img {
  width: calc(100%/6 - 10px);
  padding-top: 18px;
}


.-button-sign-up-header {
  background: white;
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 3px;
  padding: 5px;
}





/*JUMBOTRON */

.jumbotron {
  background-image: url(../assets/bg-banner-home.jpg);
  background-size: cover;
  margin-bottom: 0;
}
.jumbotron h1 {
  font-size: 62px;
}
.jumbotron p {
  font-size: 20px;
}


/*SECTION DEPLOY AND SCALE */
#Deploy-and-scale ul li {
  padding: 5px 0 5px 5px;
}

#Deploy-and-scale ul {
  border-left: 1px solid #ccc;
}


/*SECTION DESIGNED FOR DEVS*/
#Designed4devs {
  background-color: #f3f5f9;
}
/* SECTION SERVICE */
#Service .service-table .row {
  border-bottom: 1px solid black;
  margin-left: 0;
  margin-right: 0;
}

#Dev-teams {
  background-color: #f3f5f9;
}

/* SECTION GET STARTED */
#Get-started {
  background-color: #0033ae;
  padding: 30px 0;
}

/* FOOTER */
#contatti {
  background-color: #031c4e;
  padding: 30px 0;
}
